AuthName "LMIT"

AuthType Basic

Options -Indexes

<FilesMatch "admin*">
	AuthUserFile /var/www/firmware/.htpasswdadmin
	require valid-user
</FilesMatch>

<FilesMatch "manage.php|edit.php">
	AuthUserFile /var/www/firmware/.htpasswd
	require valid-user
</FilesMatch>
